@page
@model ceng382_project3.Pages.FAQSModel
@{
    ViewData["Title"] = "FAQS";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>FAQs</h1>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">FAQs</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Page Heading / End -->
<!-- Page Content -->
<section class="page-content">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <p>Before contacts us you may see your questions in this page. If you can't CONTACT US!</p>

                <div class="panel-group panel-group__alt" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-1">
                                    How can I trust to your servants?
                                </a>
                            </h4>
                        </div>
                        <div id="accordion-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>Our employees are completely recruited after going through CV, training and experience interviews. You can find their scores on their profiles.  </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-2" class="collapsed">
                                    Which payment methods do you have?
                                </a>
                            </h4>
                        </div>
                        <div id="accordion-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Visa, American Express, MasterCard and Discover.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-3" class="collapsed">
                                    Which types of clean are you doing?
                                </a>
                            </h4>
                        </div>
                        <div id="accordion-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Vivamus eget elit ultricies, convallis urna in, sagittis nulla. Duis sollicitudin suscipit nisi. Etiam sit amet ipsum urna. Etiam mi diam, tincidunt in libero vel, commodo suscipit risus. Nam pharetra auctor volutpat.</p>

                                Vivamus malesuada at nisl quis posuere. Aliquam interdum urna nec ligula viverra, non rhoncus enim iaculis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-4" class="collapsed">
                                    What is the age of babies and child?
                                </a>
                            </h4>
                        </div>
                        <div id="accordion-4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Vivamus eget elit ultricies, convallis urna in, sagittis nulla. Duis sollicitudin suscipit nisi. Etiam sit amet ipsum urna. Etiam mi diam, tincidunt in libero vel, commodo suscipit risus. Nam pharetra auctor volutpat.</p>

                                Vivamus malesuada at nisl quis posuere. Aliquam interdum urna nec ligula viverra, non rhoncus enim iaculis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-5" class="collapsed">
                                    If I have an problem have can I contact with servant?
                                </a>
                            </h4>
                        </div>
                        <div id="accordion-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Vivamus eget elit ultricies, convallis urna in, sagittis nulla. Duis sollicitudin suscipit nisi. Etiam sit amet ipsum urna. Etiam mi diam, tincidunt in libero vel, commodo suscipit risus. Nam pharetra auctor volutpat.</p>

                                Vivamus malesuada at nisl quis posuere. Aliquam interdum urna nec ligula viverra, non rhoncus enim iaculis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-6" class="collapsed">
                                    How is payment sharing?
                                </a>
                            </h4>
                        </div>
                        <div id="accordion-6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Vivamus eget elit ultricies, convallis urna in, sagittis nulla. Duis sollicitudin suscipit nisi. Etiam sit amet ipsum urna. Etiam mi diam, tincidunt in libero vel, commodo suscipit risus. Nam pharetra auctor volutpat.</p>

                                Vivamus malesuada at nisl quis posuere. Aliquam interdum urna nec ligula viverra, non rhoncus enim iaculis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4" data-animation="bounce" data-animation-delay="0">
                <hr class="visible-sm visible-xs lg">
                <!-- Call to Action - alternative -->
                <div class="call-to-action centered">
                    <div class="cta-txt">
                        <h2>Don't See the Answer You Need?</h2>
                        <p>We will gladly help you!</p>
                    </div>
                    <div class="cta-btn">
                        <a asp-page="Contacts" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
                <!-- Call to Action - alternative / End -->
            </div>
        </div>

    </div>
</section>